body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6099AC;
    /* comment */
}

h1{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px; 
  }
